.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    gap: 105px;
}

.viewChar {
    width: 420px;
    height: 420px;

    img {
        width: 100%;
        height: 100%;
    }
}

.customContainer {
    box-sizing: border-box;
    width: 558px;
    height: 450px;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 30px;

    padding: 30px 30px 10px 30px;
}

.characterTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    margin-bottom: 20px;
}

.selectedTypeButton {
    border: 3px solid #000000;
}

.label {
    width: 97px;
    height: 19px;

    margin-bottom: 12px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #4E5256;
}