.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.video {
    width: 274px;
    height: 439px;

    background: #DDDFE3;
    border-radius: 26.5487px;
}

.conversationContainer {
    width: 610px;
    height: 439px;
    padding: 17px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background: #F5F6F7;
    border-radius: 20px;

    overflow-y: scroll;
}

.lineBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
}

.line {
    padding: 20px 16px;
    width: 500px;

    background: #FFFFFF;
    border-radius: 15px;
}

.plusButton {
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 0px;

    border-radius: 50%;

    background-color: #CCCCCC;

    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 27px;
}