@use "../../mixin" as *;

.container {
    height: 552px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(mobile) {
        width: 100%;
        height: auto;
    }
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 105px;

    @include respond(mobile) {
        flex-direction: column;
        gap: 10px;
    }
}

.title {
    font-size: 28px;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 30px;

    @include respond(mobile) {
        font-size: 25px;
        margin-bottom: 0px;
    }
}

.viewChar {
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: radial-gradient(circle, #cacaca 20%, white, white);

    @include respond(mobile) {
        width: 100%;
        height: auto;
    }
    
    img, .altImg {
        width: 60%;
        height: 60%;

        @include respond(mobile) {
            width: 40%;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }

    .selectedCharName {
        position: relative;
        top: 10px;

        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        
        color: #FF5924;

        @include respond(mobile) {
            font-size: 25px;
            top: 0px;
            line-height: 100%;
            height: 25px;
        }
    }

    .selectedCharDescription {
        position: relative;
        top: 20px;

        height: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;

        color: #575B5E;

        @include respond(mobile) {
            height: 30px;
            font-size: 14px;
            top: 0px;
        }
    }
}
.crab {
    background-image: radial-gradient(circle, #ffb99b 20%, white, white);
}
.octopus {
    background-image: radial-gradient(circle, #aedcbe 20%, white, white);
    
    .selectedCharName {
        color: rgb(9, 169, 20);
    }
}
.starfish {
    background-image: radial-gradient(circle, #efffc3 20%, white, white);
    
    .selectedCharName {
        color: rgb(255, 183, 0);
    }
}
.bok {
    background-image: radial-gradient(circle, #f1ccf4 20%, white, white);
    
    .selectedCharName {
        color: rgb(202, 31, 188);
    }
}

.customContainer {
    box-sizing: border-box;
    width: 558px;
    height: 450px;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 30px;

    padding: 30px 30px 10px 30px;

    @include respond(mobile) {
        width: 100%;
        height: 100%;
    }
}

.characterTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    margin-bottom: 20px;

    @include respond(mobile) {
        gap: 10px;
        margin-bottom: 10px;
    }

    button {
        color: #9EA3A8;
        background-color: transparent;

        @include respond(mobile) {
            padding: 10px;
            font-size: 14px;
        }

        img {
            width: 130px;
            height: 130px;

            @include respond(mobile) {
                width: 90px;
                height: 90px;
            }
        }
    }
}

.label {
    height: 19px;

    margin-bottom: 12px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #4E5256;
    
    span {
        color: #9EA3A8;
    }
}