.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 105px;
}

.viewChar {
    width: 420px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: radial-gradient(circle, #ffb99b 20%, white, white);

    img {
        width: 60%;
        height: 60%;
    }


    .selectedCharName {
        height: 48px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        
        color: #FF5924;
    }

    .selectedCharDescription {
        height: 30px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;

        color: #575B5E;
    }
}

.customContainer {
    box-sizing: border-box;
    width: 558px;
    height: 450px;

    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 30px;

    padding: 30px 30px 10px 30px;
}

.characterTypeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;

    margin-bottom: 20px;
}

.selectedTypeButton {
    border: 3px solid #000000;
}

.label {
    // width: 97px;
    height: 19px;

    margin-bottom: 12px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #4E5256;
}

.neutralContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    img {
        margin-bottom: 12px;
    }
}