.container {
    height: 552px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 30px;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.conversationContainer {
    position: relative;

    box-sizing: border-box;

    width: 496px;
    height: 445px;

    overflow-y: scroll;
}

.conversationContainer::-webkit-scrollbar {
    display: none;
}

.lineBlock {
    line-height: 27px;
    margin-bottom: 30px;
}

.userInputChatContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;

    height: 304px;
}

.userInputChat {
    padding: 12px 20px;

    height: 24px;

    background: #EAEAEA;
    border-radius: 20px;
}

.userInputForm {
    position: relative;

    input {
        box-sizing: border-box;
        width: 530px;
        height: 143px;
        padding: 15px;

        background: #FFFFFF;
        border: 1px solid #C7C7C7;
        border-radius: 30px;
    }

    button {
        position: absolute;
        bottom: 13px;
        right: 13px;

        width: 77px;
        height: 43px;
        padding: 0px;

        background: #202020;
        border-radius: 15px;

        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;

        color: #FFFFFF;

    };
}