.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 28px;
    font-weight: 600;

    margin-top: 20px;
}

.container video {
    width: 248px;
    height: 439px;
    
    border-radius: 26.5487px;
}

.altVideoText {
    width: 274px;
    height: 439px;

    background-color: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    button {
        width: 140px;
        height: 50px;

        border-radius: 15px;

        padding: 0px;

        margin-top: 8px;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    }
}

.downloadButton {
    background: #EAEAEA;
    color: #202020;
}

.uploadButton {
    background: #FF543D;
    color: #FFFFFF;
}