@use "../../mixin" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.title {
    font-size: 28px;
    font-weight: 600;

    margin-top: 20px;

    @include respond(mobile) {
        font-size: 25px;
        margin-bottom: 0px;
    }
}

.container video {
    width: 248px;
    height: 439px;
    
    border-radius: 26.5487px;
}

.altVideoContianer {
    width: 274px;
    height: 439px;

    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.altVideoText {
    text-align: center;;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #FF543D;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    button {
        width: 140px;
        height: 50px;

        border-radius: 15px;

        padding: 0px;

        margin-top: 8px;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
    }
}

.downloadButton {
    background: #EAEAEA;
    color: #202020;
}

.uploadButton {
    background: #FF543D;
    color: #FFFFFF;
}