.container {
    // width: 907.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainText {
    font-size: 48px;
    font-weight: bold;
}

.introduction {
    margin: 0;
    font-size: 20px;
    color: #777A7D;
    text-align: center;

    p {
        margin: 0;
    }
}

.categoryButtonContainer {
    width: 530px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    margin-top: 83px;
    margin-bottom: 31px;

    font-size: 15px;
}
.categoryButtonContainer button {
    background-color: transparent;
    width: 69px;
    text-align: center;
    // margin-left: 20px;
    padding: 0px;
}

