@use "../mixin" as *;

.container {
    // width: 907.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-size: 40px;
    font-weight: bold;

    margin-top: 62px;
    margin-bottom: 10px;

    @include respond(mobile) {
        font-size: 30px;
    }
}

.introduction {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #575757;
    text-align: center;

    p {
        margin: 0;
    }
}

.categoryButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    margin-top: 83px;
    margin-bottom: 21px;

    font-size: 15px;

    @include respond(mobile) {
        margin-top: 40px;
    }
}

.categoryButtonContainer button {
    background-color: #F4F4F4;
    color: #202020;
    text-align: center;
    padding: 7px 12px;
    font-weight: 500;
    transition: none;
}

.categoryButtonContainer .selectedCategoryButton {
    color: white;
    background-color: #202020;
    font-weight: 700;
}
