.container {
    width: 100vw;
}

.container button {
    background-color: transparent;
    text-align: left;
    margin-left: 20px;

    font-weight: 700;
}
.container button:hover {
    border-color: transparent;
}