@use "../mixin" as *;

.container {
    width: 100vw;
}

.container button {
    background-color: transparent;
    text-align: left;
    margin-left: 20px;

    font-weight: 700;

    @include respond(mobile) {
        margin-left: 0px;
        padding: 9.6px px;
    }
}
.container button:hover {
    border-color: transparent;
}