@use "../mixin" as *;

.container {
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 68px;

    @include respond(mobile) {
        flex: 1;
        position: relative;
        top: 20px;
    }
}

.title {
    font-size: 40px;
    font-weight: 700;

    position: relative;
    bottom: 62px;

    @include respond(mobile) {
        padding: 0px;
        text-align: center;
        font-size: 30px;
    }
}

.container form {
    width: 840px;
    height: 62px;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #CFD4D8;
    border-radius: 20px;
    padding: 4px;

    display: flex;
    flex-direction: row;

    position: relative;
    bottom: 62px;

    @include respond(mobile) {
        width: 90%;
    }

    input {
        margin-left: 20px;
        border: 0px;

        width: 70%;

        &:focus {
            outline: none;
        }

        @include respond(mobile) {
            margin: 10px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin-left: auto;
        width: 150px;
        color: #FFFFFF;
        background: #FF543D;
        border-radius: 15px;

        font-size: 17px;

        @include respond(mobile) {
            width: auto;
            font-size: 15px;
            padding: 0px 10px;
            white-space: nowrap;
        }
    }
}

.inActiveButton {
    cursor: wait;
    background: #EAEAEA;
}