.container {
    width: 100vw;
    // margin-bottom: 30px;
}

.container button {
    background-color: transparent;
    text-align: left;
    margin-left: 20px;
}
.container button:hover {
    border-color: transparent;
}