@use "../mixin" as *;

.container {
    flex: 1;    //#root의 자식. #root가 display: flex;를 가짐.

    @include respond(mobile) {
        display: flex;
        flex-direction: column;
    }
}

.branchButtonContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 2px);

    font-weight: 500;

    button {
        background-color: transparent;
    }
}

.selectedBranchButton {
    color: #FF543D;
    font-weight: 600;

    @include respond(mobile) {
        display: none;
    }
}